<form class="inline-block" method="post" action="{{ path('trades_delete', {'id': trade.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette activité?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trade.id) }}">
    <button type="submit"  data-toggle="tooltip" data-original-title="Supprimer" class="btn btn-sm btn-danger btn-icon-anim btn-square"><i class="icon-trash"></i></button>
</form>