{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi architecto ducimus earum, eum facere id impedit, ipsam nobis officiis, possimus quam quibusdam rerum sapiente sed sequi ut veniam vitae!</p>
{% endblock %}
