<!-- Right Sidebar Menu -->
<div class="fixed-sidebar-right">
    <ul class="right-sidebar">
        <li>
            <div  class="tab-struct custom-tab-1">
                <ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
                    <li class="active" role="presentation"><a aria-expanded="true"  data-toggle="tab" role="tab" id="chat_tab_btn" href="#chat_tab">Login</a></li>
                    <li ><a  id="todo_tab_btn" role="tab" aria-expanded="false"></a></li>
                    <li role="presentation" class=""><a  data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">Logout</a></li>
                </ul>
                <div class="tab-content" id="right_sidebar_content">
                    <div  id="chat_tab" class="tab-pane fade active in" role="tabpanel">
                        <div class="chat-cmplt-wrap">
                            <div class="chat-box-wrap">
                                <div class="add-friend">
                                    <a href="javascript:void(0)" class="inline-block txt-grey">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                    <span class="inline-block txt-dark">users</span>
                                    <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                                <form role="search" class="chat-search pl-15 pr-15 pb-15">
                                    <div class="input-group">
                                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
													<button type="button" class="btn  btn-default"><i class="zmdi zmdi-search"></i></button>
													</span>
                                    </div>
                                </form>

                            </div>
                            <div class="recent-chat-box-wrap">
                                <div class="recent-chat-wrap">
                                    <div class="panel-heading ma-0">
                                        <div class="goto-back">
                                            <a  id="goto_back" href="javascript:void(0)" class="inline-block txt-grey">
                                                <i class="zmdi zmdi-chevron-left"></i>
                                            </a>
                                            <span class="inline-block txt-dark">ryan</span>
                                            <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-more"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body pa-0">
                                            <div class="chat-content">
                                                <ul class="nicescroll-bar pt-20">
                                                    <li class="friend">
                                                        <div class="friend-msg-wrap">
                                                            <img class="user-img img-circle block pull-left"  src="{{ asset('build/static/user3.png') }}" alt="user"/>
                                                            <div class="msg pull-left">
                                                                <p>Hello Jason, how are you, it's been a long time since we last met?</p>
                                                                <div class="msg-per-detail text-right">
                                                                    <span class="msg-time txt-grey">2:30 PM</span>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                    <li class="self mb-10">
                                                        <div class="self-msg-wrap">
                                                            <div class="msg block pull-right"> Oh, hi Sarah I'm have got a new job now and is going great.
                                                                <div class="msg-per-detail text-right">
                                                                    <span class="msg-time txt-grey">2:31 pm</span>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                    <li class="self">
                                                        <div class="self-msg-wrap">
                                                            <div class="msg block pull-right">  How about you?
                                                                <div class="msg-per-detail text-right">
                                                                    <span class="msg-time txt-grey">2:31 pm</span>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                    <li class="friend">
                                                        <div class="friend-msg-wrap">
                                                            <img class="user-img img-circle block pull-left"  src="{{ asset('build/static/img/userimgs/user2.png') }}" alt="user"/>
                                                            <div class="msg pull-left">
                                                                <p>Not too bad.</p>
                                                                <div class="msg-per-detail  text-right">
                                                                    <span class="msg-time txt-grey">2:35 pm</span>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="input-group">
                                                <input type="text" id="input_msg_send" name="send-msg" class="input-msg-send form-control" placeholder="Type something">
                                                <div class="input-group-btn emojis">
                                                    <div class="dropup">
                                                        <button type="button" class="btn  btn-default  dropdown-toggle" data-toggle="dropdown" ><i class="zmdi zmdi-mood"></i></button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:void(0)">Action</a></li>
                                                            <li><a href="javascript:void(0)">Another action</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:void(0)">Separated link</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="input-group-btn attachment">
                                                    <div class="fileupload btn  btn-default"><i class="zmdi zmdi-attachment-alt"></i>
                                                        <input type="file" class="upload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  id="todo_tab" class="tab-pane fade" role="tabpanel">
                        <div class="todo-box-wrap">
                            <div class="add-todo">
                                <a href="javascript:void(0)" class="inline-block txt-grey">
                                    <i class="zmdi zmdi-more"></i>
                                </a>
                                <span class="inline-block txt-dark">todo list</span>
                                <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="set-height-wrap">
                                <!-- Todo-List -->
                                <ul class="todo-list nicescroll-bar">
                                    <li class="todo-item">
                                        <div class="checkbox checkbox-default">
                                            <input type="checkbox" id="checkbox01"/>
                                            <label for="checkbox01">Record The First Episode</label>
                                        </div>
                                    </li>
                                    <li>
                                        <hr class="light-grey-hr"/>
                                    </li>
                                    <li class="todo-item">
                                        <div class="checkbox checkbox-pink">
                                            <input type="checkbox" id="checkbox02"/>
                                            <label for="checkbox02">Prepare The Conference Schedule</label>
                                        </div>
                                    </li>
                                    <li>
                                        <hr class="light-grey-hr"/>
                                    </li>
                                    <li class="todo-item">
                                        <div class="checkbox checkbox-warning">
                                            <input type="checkbox" id="checkbox03" checked/>
                                            <label for="checkbox03">Decide The Live Discussion Time</label>
                                        </div>
                                    </li>
                                    <li>
                                        <hr class="light-grey-hr"/>
                                    </li>
                                    <li class="todo-item">
                                        <div class="checkbox checkbox-success">
                                            <input type="checkbox" id="checkbox04" checked/>
                                            <label for="checkbox04">Prepare For The Next Project</label>
                                        </div>
                                    </li>
                                    <li>
                                        <hr class="light-grey-hr"/>
                                    </li>
                                    <li class="todo-item">
                                        <div class="checkbox checkbox-danger">
                                            <input type="checkbox" id="checkbox05" checked/>
                                            <label for="checkbox05">Finish Up AngularJs Tutorial</label>
                                        </div>
                                    </li>
                                    <li>
                                        <hr class="light-grey-hr"/>
                                    </li>
                                    <li class="todo-item">
                                        <div class="checkbox checkbox-purple">
                                            <input type="checkbox" id="checkbox06" checked/>
                                            <label for="checkbox06">Finish Infinity Project</label>
                                        </div>
                                    </li>
                                    <li>
                                        <hr class="light-grey-hr"/>
                                    </li>
                                </ul>
                                <!-- /Todo-List -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</div>
<!-- /Right Sidebar Menu -->