<!-- Right Sidebar Menu -->
<div class="fixed-sidebar-right">
    <ul class="right-sidebar">
        <li>
            <div  class="tab-struct custom-tab-1">
                <ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
                    <li class="active" role="presentation"><a aria-expanded="true"  data-toggle="tab" role="tab" id="chat_tab_btn" href="#chat_tab">Login</a></li>
                    <li ><a  id="todo_tab_btn" role="tab" aria-expanded="false"></a></li>
                    <li role="presentation" class=""><a  data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">Logout</a></li>
                </ul>
                <div class="tab-content" id="right_sidebar_content">
                    <div  id="chat_tab" class="tab-pane fade active in" role="tabpanel">
                        <div class="chat-cmplt-wrap">
                            <div class="chat-box-wrap">
                                <div class="add-friend">
                                    <a href="javascript:void(0)" class="inline-block txt-grey">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                    <span class="inline-block txt-dark">Utilisateurs</span>
                                    <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                                <form role="search" class="chat-search pl-15 pr-15 pb-15">
                                    <div class="input-group">
                                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Chercher">
                                        <span class="input-group-btn">
													<button type="button" class="btn  btn-default"><i class="zmdi zmdi-search"></i></button>
													</span>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </li>
    </ul>
</div>
<!-- /Right Sidebar Menu -->