
{# page to test any template render ppm/template/artisan/test.html.twig#}

{% extends 'base.html.twig' %}
{% block title %}Modifier gouvernement{% endblock %}
{% block content %}

    <div class="wrapper  theme-1-active pimary-color-green">
        <!--Preloader-->
        {#<div class="preloader-it">#}
        {#<div class="la-anim-1"></div>#}
        {#</div>#}
        <!--/Preloader-->
        {% block body %}

            <!-- Right Sidebar Backdrop -->
            <div class="right-sidebar-backdrop"></div>
            <!-- /Right Sidebar Backdrop -->

            <!-- Top Menu Items -->
            {# include the navbar from direcctory inc#}
            {% include 'inc/navbar/nav.html.twig' %}
            <!-- /Top Menu Items -->

            {# sidebar left #}
            {% include 'inc/sideBarLeft/sideBar.html.twig' %}

            <!-- Right Sidebar Menu -->
            {% include 'inc/navbar/sidbar.right.setting.html.twig' %}
            <!-- /Right Sidebar Menu -->

        {% endblock %}

        <!-- Main Content -->
        {% block main %}
            <div class="page-wrapper">
                <div class="container-fluid">

                    <!-- mel7it -->
                    <p style="color: #fafafa;line-height: 0 !important;margin-top: -40px " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet itaque molestiae temporibus. Ab alias amet ex fugiat harum itaque modi mollitia nemo officiis omnis quam, tenetur veniam voluptate voluptatibus.</p>
                    <!-- /mel7it -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h5 class="txt-dark">Modifier gouvernement</h5>
                        </div>
                        <!-- Breadcrumb -->

                        <!-- /Breadcrumb -->
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ include('government/_form.html.twig', {'button_label': 'Modifier'}) }}
                        </div>
                        <div class=" col-md-4 ">
                            <a class="btn btn-primary mt-20 ml-50" href="{{ path('government_index') }}">retour à la liste</a>
                        </div>
                        <div class="col-md-2 col-md-pull-2">
                            {{ include('government/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}




