<form method="post" action="{{ path('delegation_delete', {'id': delegation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ delegation.id) }}">
    <button class="btn btn-danger mt-20">Supprimer</button>
</form>