{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-top: 2rem;">

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="jumbotron">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Username: {{ app.user.username }}</p>
        {% endif %}
        list of all companyss
        {% if is_granted('ROLE_DMS') %}
            <a href="...">Delete</a>
        {% endif %}

    </div>
</div>
{% endblock %}
